name: dear_dairy
description: "DearDairy - A Dream Journal"
publish_to: 'none'

version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2
  provider: ^6.1.5+1
  speech_to_text: ^6.6.2
  speech_to_text_ultra: ^0.0.3
  universal_html: ^2.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/logo.png
